.filter-font {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
.aparience_reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* =========== / Grid =========== */
[class*="col-"] {
  float: left;
  position: relative;
  width: 100%;
}
.content {
  position: relative;
}
.w-xxxx-1 {
  width: 8.33%;
}
.w-xxxx-2 {
  width: 16.4%;
}
.w-xxxx-3 {
  width: 25%;
}
.w-xxxx-4 {
  width: 33%;
}
.w-xxxx-5 {
  width: 41.65%;
}
.w-xxxx-6 {
  width: 50%;
}
.w-xxxx-7 {
  width: 58.35%;
}
.w-xxxx-8 {
  width: 66.67%;
}
.w-xxxx-9 {
  width: 75%;
}
.w-xxxx-10 {
  width: 83.6%;
}
.w-xxxx-11 {
  width: 91.67%;
}
.w-xxxx-12 {
  width: 100%;
}
.m-l-xxxx-1 {
  margin-left: 8.33%;
}
.m-l-xxxx-2 {
  margin-left: 16.4%;
}
.m-l-xxxx-3 {
  margin-left: 25%;
}
.m-l-xxxx-4 {
  margin-left: 33%;
}
.m-l-xxxx-5 {
  margin-left: 41.65%;
}
.m-l-xxxx-6 {
  margin-left: 50%;
}
.m-l-xxxx-7 {
  margin-left: 58.35%;
}
.m-l-xxxx-8 {
  margin-left: 66.67%;
}
.m-l-xxxx-9 {
  margin-left: 75%;
}
.m-l-xxxx-10 {
  margin-left: 83.6%;
}
.m-l-xxxx-11 {
  margin-left: 91.67%;
}
.m-l-xxxx-12 {
  margin-left: 100%;
}
.m-r-xxxx-1 {
  margin-right: 8.33%;
}
.m-r-xxxx-2 {
  margin-right: 16.4%;
}
.m-r-xxxx-3 {
  margin-right: 25%;
}
.m-r-xxxx-4 {
  margin-right: 33%;
}
.m-r-xxxx-5 {
  margin-right: 41.65%;
}
.m-r-xxxx-6 {
  margin-right: 50%;
}
.m-r-xxxx-7 {
  margin-right: 58.35%;
}
.m-r-xxxx-8 {
  margin-right: 66.67%;
}
.m-r-xxxx-9 {
  margin-right: 75%;
}
.m-r-xxxx-10 {
  margin-rightt: 83.6%;
}
.m-r-xxxx-11 {
  margin-rightt: 91.67%;
}
.m-r-xxxx-12 {
  margin-rightt: 100%;
}
/* Media Escritorio */
@media all and (min-width: 1200px) {
  .content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
}
/* Media Tableta */
@media all and (min-width: 980px) and (max-width: 1199px) {
  .content {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
  }
  .w-xxx-1 {
    width: 8.33%;
  }
  .w-xxx-2 {
    width: 16.4%;
  }
  .w-xxx-3 {
    width: 25%;
  }
  .w-xxx-4 {
    width: 33%;
  }
  .w-xxx-5 {
    width: 41.65%;
  }
  .w-xxx-6 {
    width: 50%;
  }
  .w-xxx-7 {
    width: 58.35%;
  }
  .w-xxx-8 {
    width: 66.67%;
  }
  .w-xxx-9 {
    width: 75%;
  }
  .w-xxx-10 {
    width: 83.6%;
  }
  .w-xxx-11 {
    width: 91.67%;
  }
  .w-xxx-12 {
    width: 100%;
  }
  .m-l-xxx-0 {
    margin-left: 0;
  }
  .m-l-xxx-1 {
    margin-left: 8.33%;
  }
  .m-l-xxx-2 {
    margin-left: 16.4%;
  }
  .m-l-xxx-3 {
    margin-left: 25%;
  }
  .m-l-xxx-4 {
    margin-left: 33%;
  }
  .m-l-xxx-5 {
    margin-left: 41.65%;
  }
  .m-l-xxx-6 {
    margin-left: 50%;
  }
  .m-l-xxx-7 {
    margin-left: 58.35%;
  }
  .m-l-xxx-8 {
    margin-left: 66.67%;
  }
  .m-l-xxx-9 {
    margin-left: 75%;
  }
  .m-l-xxx-10 {
    margin-left: 83.6%;
  }
  .m-l-xxx-11 {
    margin-left: 91.67%;
  }
  .m-l-xxx-12 {
    margin-left: 100%;
  }
  .m-r-xxx-0 {
    margin-right: 0;
  }
  .m-r-xxx-1 {
    margin-right: 8.33%;
  }
  .m-r-xxx-2 {
    margin-right: 16.4%;
  }
  .m-r-xxx-3 {
    margin-right: 25%;
  }
  .m-r-xxx-4 {
    margin-right: 33%;
  }
  .m-r-xxx-5 {
    margin-right: 41.65%;
  }
  .m-r-xxx-6 {
    margin-right: 50%;
  }
  .m-r-xxx-7 {
    margin-right: 58.35%;
  }
  .m-r-xxx-8 {
    margin-right: 66.67%;
  }
  .m-r-xxx-9 {
    margin-right: 75%;
  }
  .m-r-xxx-10 {
    margin-rightt: 83.6%;
  }
  .m-r-xxx-11 {
    margin-rightt: 91.67%;
  }
  .m-r-xxx-12 {
    margin-rightt: 100%;
  }
}
/* Media Tableta Vertical */
@media all and (min-width: 768px) and (max-width: 979px) {
  .content {
    max-width: 750px;
    margin: 0 auto;
    padding: 0 ;
  }
  .w-xx-1 {
    width: 8.33%;
  }
  .w-xx-2 {
    width: 16.4%;
  }
  .w-xx-3 {
    width: 25%;
  }
  .w-xx-4 {
    width: 33%;
  }
  .w-xx-5 {
    width: 41.65%;
  }
  .w-xx-6 {
    width: 50%;
  }
  .w-xx-7 {
    width: 58.35%;
  }
  .w-xx-8 {
    width: 66.67%;
  }
  .w-xx-9 {
    width: 75%;
  }
  .w-xx-10 {
    width: 83.6%;
  }
  .w-xx-11 {
    width: 91.67%;
  }
  .w-xx-12 {
    width: 100%;
  }
  .m-l-xx-0 {
    margin-left: 0;
  }
  .m-l-xx-1 {
    margin-left: 8.33%;
  }
  .m-l-xx-2 {
    margin-left: 16.4%;
  }
  .m-l-xx-3 {
    margin-left: 25%;
  }
  .m-l-xx-4 {
    margin-left: 33%;
  }
  .m-l-xx-5 {
    margin-left: 41.65%;
  }
  .m-l-xx-6 {
    margin-left: 50%;
  }
  .m-l-xx-7 {
    margin-left: 58.35%;
  }
  .m-l-xx-8 {
    margin-left: 66.67%;
  }
  .m-l-xx-9 {
    margin-left: 75%;
  }
  .m-l-xx-10 {
    margin-left: 83.6%;
  }
  .m-l-xx-11 {
    margin-left: 91.67%;
  }
  .m-l-xx-12 {
    margin-left: 100%;
  }
  .m-r-xx-0 {
    margin-right: 0;
  }
  .m-r-xx-1 {
    margin-right: 8.33%;
  }
  .m-r-xx-2 {
    margin-right: 16.4%;
  }
  .m-r-xx-3 {
    margin-right: 25%;
  }
  .m-r-xx-4 {
    margin-right: 33%;
  }
  .m-r-xx-5 {
    margin-right: 41.65%;
  }
  .m-r-xx-6 {
    margin-right: 50%;
  }
  .m-r-xx-7 {
    margin-right: 58.35%;
  }
  .m-r-xx-8 {
    margin-right: 66.67%;
  }
  .m-r-xx-9 {
    margin-right: 75%;
  }
  .m-r-xx-10 {
    margin-rightt: 83.6%;
  }
  .m-r-xx-11 {
    margin-rightt: 91.67%;
  }
  .m-r-xx-12 {
    margin-rightt: 100%;
  }
}
/* Media Smartphone */
@media all and (max-width: 767px) {
  .content {
    max-width: 580px;
    margin: 0 auto;
    padding: 0 ;
  }
  [class*="col-"] {
    float: left;
    position: relative;
    width: 100%;
  }
  [class*="m-l"],
  [class*="m-r"] {
    margin-left: 0;
    margin-right: 0;
  }
  .w-x-1 {
    width: 8.33%;
  }
  .w-x-2 {
    width: 16.4%;
  }
  .w-x-3 {
    width: 25%;
  }
  .w-x-4 {
    width: 33%;
  }
  .w-x-5 {
    width: 41.65%;
  }
  .w-x-6 {
    width: 50%;
  }
  .w-x-7 {
    width: 58.35%;
  }
  .w-x-8 {
    width: 66.67%;
  }
  .w-x-9 {
    width: 75%;
  }
  .w-x-10 {
    width: 83.6%;
  }
  .w-x-11 {
    width: 91.67%;
  }
  .w-x-12 {
    width: 100%;
  }
  .m-l-x-0 {
    margin-left: 0;
  }
  .m-l-x-1 {
    margin-left: 8.33%;
  }
  .m-l-x-2 {
    margin-left: 16.4%;
  }
  .m-l-x-3 {
    margin-left: 25%;
  }
  .m-l-x-4 {
    margin-left: 33%;
  }
  .m-l-x-5 {
    margin-left: 41.65%;
  }
  .m-l-x-6 {
    margin-left: 50%;
  }
  .m-l-x-7 {
    margin-left: 58.35%;
  }
  .m-l-x-8 {
    margin-left: 66.67%;
  }
  .m-l-x-9 {
    margin-left: 75%;
  }
  .m-l-x-10 {
    margin-left: 83.6%;
  }
  .m-l-x-11 {
    margin-left: 91.67%;
  }
  .m-l-x-12 {
    margin-left: 100%;
  }
  .m-r-x-0 {
    margin-right: 0;
  }
  .m-r-x-1 {
    margin-right: 8.33%;
  }
  .m-r-x-2 {
    margin-right: 16.4%;
  }
  .m-r-x-3 {
    margin-right: 25%;
  }
  .m-r-x-4 {
    margin-right: 33%;
  }
  .m-r-x-5 {
    margin-right: 41.65%;
  }
  .m-r-x-6 {
    margin-right: 50%;
  }
  .m-r-x-7 {
    margin-right: 58.35%;
  }
  .m-r-x-8 {
    margin-right: 66.67%;
  }
  .m-r-x-9 {
    margin-right: 75%;
  }
  .m-r-x-10 {
    margin-rightt: 83.6%;
  }
  .m-r-x-11 {
    margin-rightt: 91.67%;
  }
  .m-r-x-12 {
    margin-rightt: 100%;
  }
}
/* Media Smartphone Peque < 360 */
