.filter-font {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
.aparience_reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.btn_back {
  position: fixed;
  left: 10px;
  top: 10px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  display: block;
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  z-index: 9;
  padding: 10px;
  text-decoration: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.btn_back:hover {
  background: #000000;
}
/*************************** Parallax ***************************/
section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
}
section .header-bg {
  position: absolute;
  width: 100%;
  height: 200%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 50% 0;
}
section .header-bg.bg_1 {
  background-image: url('../images/parallax/rola.jpg');
}
section .header-bg.bg_2 {
  background-image: url('../images/parallax/ensalada.jpg');
}
section .header-bg.bg_3 {
  background-image: url('../images/parallax/rola.jpg');
}
section .header-bg.bg_4 {
  background-image: url('../images/parallax/ensalada.jpg');
}
section .section_content {
  position: absolute;
  top: 30%;
}
section .flotante_top {
  position: absolute;
  top: 30%;
  left: 100px;
  display: block;
  height: 200px;
  width: 200px;
  background: #ffffff;
}
section .flotante_bottom {
  position: absolute;
  top: 0;
  right: 100px;
  display: block;
  height: 200px;
  width: 200px;
  background: #000000;
}
/*************************** Desplegable panel ***************************/
