@import "variables"; // variables.less

/* =========== / Grid =========== */

    [class*="col-"] { float: left; position: relative; width: @12X; }
    
    .content { position: relative; }
    .w-xxxx-1 { width: @1X; }
    .w-xxxx-2 { width: @2X; }
    .w-xxxx-3 { width: @3X; }
    .w-xxxx-4 { width: @4X; }
    .w-xxxx-5 { width: @5X; }
    .w-xxxx-6 { width: @6X; }
    .w-xxxx-7 { width: @7X; }
    .w-xxxx-8 { width: @8X; }
    .w-xxxx-9 { width: @9X; }
    .w-xxxx-10 { width: @10X; }
    .w-xxxx-11 { width: @11X; }
    .w-xxxx-12 { width: @12X; }

    .m-l-xxxx-1 { margin-left: @1X; }
    .m-l-xxxx-2 { margin-left: @2X; }
    .m-l-xxxx-3 { margin-left: @3X; }
    .m-l-xxxx-4 { margin-left: @4X; }
    .m-l-xxxx-5 { margin-left: @5X; }
    .m-l-xxxx-6 { margin-left: @6X; }
    .m-l-xxxx-7 { margin-left: @7X; }
    .m-l-xxxx-8 { margin-left: @8X; }
    .m-l-xxxx-9 { margin-left: @9X; }
    .m-l-xxxx-10 { margin-left: @10X; }
    .m-l-xxxx-11 { margin-left: @11X; }
    .m-l-xxxx-12 { margin-left: @12X; }

    .m-r-xxxx-1 { margin-right: @1X; }
    .m-r-xxxx-2 { margin-right: @2X; }
    .m-r-xxxx-3 { margin-right: @3X; }
    .m-r-xxxx-4 { margin-right: @4X; }
    .m-r-xxxx-5 { margin-right: @5X; }
    .m-r-xxxx-6 { margin-right: @6X; }
    .m-r-xxxx-7 { margin-right: @7X; }
    .m-r-xxxx-8 { margin-right: @8X; }
    .m-r-xxxx-9 { margin-right: @9X; }
    .m-r-xxxx-10 { margin-rightt: @10X; }
    .m-r-xxxx-11 { margin-rightt: @11X; }
    .m-r-xxxx-12 { margin-rightt: @12X; }

/* Media Escritorio */
@media @xlarge {

     .content { max-width: 1200px; margin: 0 auto; padding:0; }
}

/* Media Tableta */
@media @large {

     .content { max-width: 960px; margin: 0 auto; padding:0; }
     
    .w-xxx-1 { width: @1X; }
    .w-xxx-2 { width: @2X; }
    .w-xxx-3 { width: @3X; }
    .w-xxx-4 { width: @4X; }
    .w-xxx-5 { width: @5X; }
    .w-xxx-6 { width: @6X; }
    .w-xxx-7 { width: @7X; }
    .w-xxx-8 { width: @8X; }
    .w-xxx-9 { width: @9X; }
    .w-xxx-10 { width: @10X; }
    .w-xxx-11 { width: @11X; }
    .w-xxx-12 { width: @12X; }

    .m-l-xxx-0 { margin-left: 0; }
    .m-l-xxx-1 { margin-left: @1X; }
    .m-l-xxx-2 { margin-left: @2X; }
    .m-l-xxx-3 { margin-left: @3X; }
    .m-l-xxx-4 { margin-left: @4X; }
    .m-l-xxx-5 { margin-left: @5X; }
    .m-l-xxx-6 { margin-left: @6X; }
    .m-l-xxx-7 { margin-left: @7X; }
    .m-l-xxx-8 { margin-left: @8X; }
    .m-l-xxx-9 { margin-left: @9X; }
    .m-l-xxx-10 { margin-left: @10X; }
    .m-l-xxx-11 { margin-left: @11X; }
    .m-l-xxx-12 { margin-left: @12X; }

    .m-r-xxx-0{ margin-right: 0; }
    .m-r-xxx-1 { margin-right: @1X; }
    .m-r-xxx-2 { margin-right: @2X; }
    .m-r-xxx-3 { margin-right: @3X; }
    .m-r-xxx-4 { margin-right: @4X; }
    .m-r-xxx-5 { margin-right: @5X; }
    .m-r-xxx-6 { margin-right: @6X; }
    .m-r-xxx-7 { margin-right: @7X; }
    .m-r-xxx-8 { margin-right: @8X; }
    .m-r-xxx-9 { margin-right: @9X; }
    .m-r-xxx-10 { margin-rightt: @10X; }
    .m-r-xxx-11 { margin-rightt: @11X; }
    .m-r-xxx-12 { margin-rightt: @12X; }

}

/* Media Tableta Vertical */
@media @medium {

     .content { max-width: 750px; margin: 0 auto; padding: 0 ; }
     
     .w-xx-1 { width: @1X; }
     .w-xx-2 { width: @2X; }
     .w-xx-3 { width: @3X; }
     .w-xx-4 { width: @4X; }
     .w-xx-5 { width: @5X; }
     .w-xx-6 { width: @6X; }
     .w-xx-7 { width: @7X; }
     .w-xx-8 { width: @8X; }
     .w-xx-9 { width: @9X; }
     .w-xx-10 { width: @10X; }
     .w-xx-11 { width: @11X; }
     .w-xx-12 { width: @12X; }

    .m-l-xx-0 { margin-left: 0; }
    .m-l-xx-1 { margin-left: @1X; }
    .m-l-xx-2 { margin-left: @2X; }
    .m-l-xx-3 { margin-left: @3X; }
    .m-l-xx-4 { margin-left: @4X; }
    .m-l-xx-5 { margin-left: @5X; }
    .m-l-xx-6 { margin-left: @6X; }
    .m-l-xx-7 { margin-left: @7X; }
    .m-l-xx-8 { margin-left: @8X; }
    .m-l-xx-9 { margin-left: @9X; }
    .m-l-xx-10 { margin-left: @10X; }
    .m-l-xx-11 { margin-left: @11X; }
    .m-l-xx-12 { margin-left: @12X; }

    .m-r-xx-0 { margin-right: 0; }
    .m-r-xx-1 { margin-right: @1X; }
    .m-r-xx-2 { margin-right: @2X; }
    .m-r-xx-3 { margin-right: @3X; }
    .m-r-xx-4 { margin-right: @4X; }
    .m-r-xx-5 { margin-right: @5X; }
    .m-r-xx-6 { margin-right: @6X; }
    .m-r-xx-7 { margin-right: @7X; }
    .m-r-xx-8 { margin-right: @8X; }
    .m-r-xx-9 { margin-right: @9X; }
    .m-r-xx-10 { margin-rightt: @10X; }
    .m-r-xx-11 { margin-rightt: @11X; }
    .m-r-xx-12 { margin-rightt: @12X; }

}

/* Media Smartphone */
@media @small {
     .content { max-width: 580px; margin: 0 auto; padding: 0 ; }
     [class*="col-"] { float: left; position: relative; width: @12X; }
     [class*="m-l"], [class*="m-r"] { margin-left: 0; margin-right: 0; }

     .w-x-1 { width: @1X; }
     .w-x-2 { width: @2X; }
     .w-x-3 { width: @3X; }
     .w-x-4 { width: @4X; }
     .w-x-5 { width: @5X; }
     .w-x-6 { width: @6X; }
     .w-x-7 { width: @7X; }
     .w-x-8 { width: @8X; }
     .w-x-9 { width: @9X; }
     .w-x-10 { width: @10X; }
     .w-x-11 { width: @11X; }
     .w-x-12 { width: @12X; }

    .m-l-x-0 { margin-left: 0; }
    .m-l-x-1 { margin-left: @1X; }
    .m-l-x-2 { margin-left: @2X; }
    .m-l-x-3 { margin-left: @3X; }
    .m-l-x-4 { margin-left: @4X; }
    .m-l-x-5 { margin-left: @5X; }
    .m-l-x-6 { margin-left: @6X; }
    .m-l-x-7 { margin-left: @7X; }
    .m-l-x-8 { margin-left: @8X; }
    .m-l-x-9 { margin-left: @9X; }
    .m-l-x-10 { margin-left: @10X; }
    .m-l-x-11 { margin-left: @11X; }
    .m-l-x-12 { margin-left: @12X; }

    .m-r-x-0 { margin-right: 0; }
    .m-r-x-1 { margin-right: @1X; }
    .m-r-x-2 { margin-right: @2X; }
    .m-r-x-3 { margin-right: @3X; }
    .m-r-x-4 { margin-right: @4X; }
    .m-r-x-5 { margin-right: @5X; }
    .m-r-x-6 { margin-right: @6X; }
    .m-r-x-7 { margin-right: @7X; }
    .m-r-x-8 { margin-right: @8X; }
    .m-r-x-9 { margin-right: @9X; }
    .m-r-x-10 { margin-rightt: @10X; }
    .m-r-x-11 { margin-rightt: @11X; }
    .m-r-x-12 { margin-rightt: @12X; }

}

/* Media Smartphone Peque < 360 */
@media @xsmall {


}
