@import "variables"; // variables.less

body { font-family: @fontFamily; margin: 0; padding: 0; }

.btn_back { position: fixed; left: 10px; top: 10px; width: @unit*3; height: @unit*3; line-height: @unit*3; text-align: center; display: block; background: fade(@black, 70%); color: @white; z-index: 9; padding: 10px; text-decoration: none; .radius; 
	&:hover { background: @black; }
}

/*************************** Parallax ***************************/
section {	position: relative; width: 100%;height: 100vh;background-color: #ffffff;overflow: hidden;
	.header-bg { position: absolute;width: 100%;height: 200%;background-repeat: no-repeat;background-size: auto 100%;background-position: 50% 0;
		&.bg_1 { background-image: url('../images/parallax/rola.jpg'); }
		&.bg_2 { background-image: url('../images/parallax/ensalada.jpg'); }
		&.bg_3 { background-image: url('../images/parallax/rola.jpg'); }
		&.bg_4 { background-image: url('../images/parallax/ensalada.jpg'); }
	}

	.section_content { position: absolute; top: 30%; }
	.flotante_top { position: absolute; top: 30%; left: 100px; display: block; height: 200px; width: 200px; background: @white; }
	.flotante_bottom { position: absolute; top: 0; right: 100px; display: block; height: 200px; width: 200px; background: @black; }
}

/*************************** Desplegable panel ***************************/

