// TXT

@fontFamily : Arial, Helvetica, sans-serif ;
@icoFont : ~"qc-font";
.filter-font { 
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
} 

// Reset
header, section, footer, aside, nav, main, article, figure { display: block; }
@zero : 0;
@unit : 8px;

// Color / Font
@enfasisColor : #f72362;
@themeColor : #000000;
@black : #000000;
@white : #ffffff;
@gray : #333333;
@softGray : lighten(@black, 93%);

@fontSize : 1rem;

// Grid
@1X :  8.33%;
@2X :  16.4%;
@3X :  25%;
@4X :  33%;
@5X :  41.65%;
@6X :  50%;
@7X :  58.35%;
@8X :  66.67%;
@9X :  75%;
@10X : 83.6%;
@11X : 91.67%;
@12X : 100%;

@marginAuto : 0 auto;

// Mixins
.radius (@radius:4px;){
    border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}
.rotate (@rotate:7deg){
    -ms-transform: rotate(@rotate); /* IE 9 */
    -webkit-transform: rotate(@rotate); /* Chrome, Safari, Opera */
    transform: rotate(@rotate);
}
.text-shadow (@shadow-string: 1px 2px 3px rgba(0, 0, 0, 0.4)) {
    text-shadow: @shadow-string;
}

.box-shadow (@shadow-string: 1px 2px 5px rgba(0, 0, 0, 0.4)) {
    -webkit-box-shadow: @shadow-string;
    -moz-box-shadow:    @shadow-string;
    box-shadow:         @shadow-string;
}

.gradient (@gradient_color1:rgba(0,0,0,1), @gradient_color2:rgba(0,0,0,0)) {
    background-color: @gradient_color2;
    background-image:     -ms-linear-gradient(top left, @gradient_color1 0%, @gradient_color2 100%);
    background-image: -webkit-linear-gradient(top, @gradient_color1, @gradient_color2);
    background-image:    -moz-linear-gradient(top, @gradient_color1, @gradient_color2);
    background-image:      -o-linear-gradient(top, @gradient_color1, @gradient_color2);
    background-image:        -webkit-gradient(linear, left top, left bottom, from(@gradient_color1), to(@gradient_color2));
    background-image:         linear-gradient(top, @gradient_color1, @gradient_color2);
}

.aparience_reset {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

// Media 
@xsmall: ~"all and (max-width: 360px)";
@small: ~"all and (max-width: 767px)";
@medium: ~"all and (min-width: 768px) and (max-width: 979px)";
@large: ~"all and (min-width: 980px) and (max-width: 1199px)";
@xlarge: ~"all and (min-width: 1200px)";